.tic-tac-toe {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 50px auto;
}

.ttt-grid {
    width: 48.65px;
    height: 48.65px;
    border: 1px solid black;
    text-align: center;
    padding-top: 0.25rem;
    float: left;
    font-size: 25px;
    box-sizing: border-box !important;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-block {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.join-block input {
    margin-bottom: 10px;
}